*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #0c111b;
    width: 100%;
    position: relative;
    font-family: roboto,sans-serif;
}

.navbar{
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 4%;
    background: #0c111b;
    z-index: 9;
    display: flex;
    align-items: center;
}
.brand-logo{
    height: 70px;
}

.nav-links{
    margin-top: 10px;
    display: flex;
    list-style: none;
}

.nav-items a{
    text-decoration: none;
    margin-left: 20px;
    text-transform: capitalize;
    color: white;
    opacity: 0.9;
}
.right-container{
    display: block;
    margin-left: auto;
}

.search-box{
    border: none;
    border-bottom: 1px solid #aaa;
    background-color: transparent;
    outline: none;
    height: 30px;
    color: white;
    width: 250px;
    text-transform: 16px;
    font-size: 16px;
    font-weight: 500;
    transition: .5s;
}

.search-box:focus{
    background-color: white;
    width: 400px;
    border-radius: 5px;
}

.sub-btn{
    background-color: #1f80e0;
    height: 30px;
    padding: 0 20px;
    color: white;
    border-radius: 5px;
    border: none;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    margin: 0 10px;
    cursor: pointer;
}

.login-link{
    color: white;
    opacity: 0.9;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
}


.carousel-container {
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.carousel {
    position: relative;
}

.slider {
    display: flex;
    flex-direction: column;
}

.slider-content {
    padding: 20px;
}

.movie-title {
    font-size: 2em;
    margin-bottom: 10px;
}

.movie-des {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.btn-primary {
    font-size: 1.2em;
}

.carousel-item {
    width: 100%;
}

.carousel-item img {
    width: 100%; 
    height: auto;
    position: relative;
}

.text-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    color: #fff; 
}


.carousel-control-prev,
.carousel-control-next {
    width: 5%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 50px;
    width: 50px;
    opacity: 0;
}


.carousel-indicators {
    bottom: -40px;
}

.carousel-indicators li {
    background-color: #343a40; 
}

.carousel-indicators .active {
    background-color: #007bff; 
}
 .video-card-container {
    position: relative;
    width: 92%;
    margin: auto;
    height: 10vw;
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
 }

 .video-card {
    position: relative;
    min-width: calc(100%/5 - 10px);
    width: calc(100%/5 - 10px);
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
    background: #030b17;
 }

 .video-card-image,
 .card-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
 }

 .card-video {
    position: relative;
 }

 .video-card:hover .video-card-image {
    display: none;
 }


 .title{

    color: white;
    opacity: 0.9;
    padding-left: 4%;
    text-transform: capitalize;
    font-size: 22px;
    font-weight: 500;
 }

 .movie-list{
    width: 100%;
    height: 220px;
    position: relative;
    margin: 10px 0 20px;
 }

 .card-container{
    position: absolute;
    width: 96%;
    padding-left: 4%;
    height: 220px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    overflow-x: auto;
    overflow-y: auto;
    scroll-behavior: smooth;

 }

 .card-container::-webkit-scrollbar{
    display: none;

 }

 .card{
    position: relative;
    min-height: 150px;
    width: 150px;
    height: 200px;
    border-radius: 5px;
    overflow: hidden;
    margin-left: 10px;
    transition: .5s;
    background: black;
 }

 .card:hover{
    transform: scale(1.1);
 }

 .card:hover .card-body{
    opacity: 1;
 }
 
 

